<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-4 text-center" style="padding-top: 20%;">
			&nbsp;
		</div>
		<div class="col-sm-4 text-center" style="padding-top: 20%;">
			&nbsp;
		</div>
		<div class="col-sm-4 text-center" style="padding-top: 10%;">
			<img src="/assets/logo-flower2.png" width="100px!important" class="hidden-xs" style="margin-left: -65px">
			<h1>I love you so much din mahal ko</h1>
			<p style="color: grey"><b>Replied by Einram</b></p>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 200px;background-color: white;">
	<div class="container text-center" style="margin-top: 50px;">
		<div class="row">
			<div class="col-sm-12">
				<h3 style="color: black">Ganito Magreply ang Programmer</h3>
				<p style="color: grey"><b></b></p>
				<p style="color: grey"><b>MADE BY EINRAM INSPIRED BY HIS BETTER HALF</b></p>
			</div>
		</div>
		<div class="row">
			
		</div>
	</div>
</div>
