<style>
	.container-fluid {
		background: #464646 url(/assets/1.jpg) no-repeat fixed center 60% / cover;
	}
	h1 {
		font-family: "garamond-premier-pro-display",sans-serif;
		color: white;
		font-size: 5.0rem;
	}
	.row-img {
		margin-top: 20px;
	}
	img {
		width: 200px;
	}
</style>
<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-4 text-center" style="padding-top: 20%;">
			&nbsp;
		</div>
		<div class="col-sm-4 text-center" style="padding-top: 20%;">
			&nbsp;
		</div>
		<div class="col-sm-4 text-center" style="padding-top: 18%;">
			<img src="/assets/logo-flower2.png" width="100px!important" class="hidden-xs" style="margin-left: -65px">
			<h1>Nica + Einram</h1>
			<p style="color: grey"><b>THE WEDDING</b></p>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 200px;background-color: white;">
	<div class="container text-center" style="margin-top: 50px;">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<h1 style="color: black">Gallery</h1>
				<p style="color: grey"><b>PHOTOS AND MEMORIES</b></p>
			</div>
		</div>
		<div class="row">
			<a href="#"><img src="/assets/5.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/1.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/2.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/3.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/4.jpg" class="img img-thumbnail"></a>

			<a href="#"><img src="/assets/12.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/11.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/10.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/14.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/15.jpg" class="img img-thumbnail"></a>

			<a href="#"><img src="/assets/16.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/17.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/18.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/19.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/20.jpg" class="img img-thumbnail"></a>

			<a href="#"><img src="/assets/21.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/22.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/23.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/24.jpg" class="img img-thumbnail"></a>
			<a href="#"><img src="/assets/25.jpg" class="img img-thumbnail"></a>
			
		</div>
	</div>
</div>
