<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <title>Nica &amp; Einram</title>
    <meta name="description" content="Nine years ago, fate and a few mouse clicks brought Einram and Nica together. They went from complete strangers to best of bestfriends in school and love. This is how it all began...">
    <meta name="keywords" content="nica,einram,einram and nica, getting married, ">
    <meta name="author" content="Marnie Paraiso">
    <meta property="og:description"
    content="Nine years ago, fate and a few mouse clicks brought Einram and Nica together. They went from complete strangers to best of bestfriends in school and love. This is how it all began..." />
   
     
  </head>

  <body class="container-fluid">
      <%= yield %>
  </body>
</html>
